
<% content_for :title, "Editing invoice" %>

<h1>Editing invoice</h1>

<%= form_with model: [@customer, @invoice], local: true do |f| %>
  <%= user_facing_errors @invoice %>

  <%= render "form", f: f %>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to invoices", customer_invoices_path(@customer) %>
</div>
