<% content_for :title, "Invoices" %>

<nav>
  <ul>
    <h4>Invoices</h4>
  </ul>

  <ul>
    <li>
      <%= button_to "Back to customer", customers_path(@customer), method: :get %>
    </li>
  </ul>
</nav>

<table id="invoices" class="striped">
  <thead data-theme="light">
    <tr>
      <th scope="col">Payment Method</th>
      <th scope="col">Due Date</th>
      <th scope="col">Status</th>
      <th scope="col">Comment</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr id="<%= dom_id invoice %>">
        <%= render invoice %>
        <td><%= link_to "Edit", edit_customer_invoice_path(@customer, invoice) %>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>


