<div>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
</div>

<div>
  <%= f.label :email %>
  <%= f.text_field :email, required: true %>
</div>

<div>
  <%= f.label :due_day %>
  <%= f.select :due_day, due_days_for_select, include_blank: false %>
</div>

<div>
  <%= f.label :payment_method %>
  <%= f.select :payment_method, payment_methods_for_select, { include_blank: false }, { 'data-payment-form-target' => 'paymentMethod' } %>
</div>

<div data-payment-form-target="creditCardForm" style="display:none">
  <p>Credit Card</p>

  <%= render 'credit_cards/form', f: f %>
</div>

<div>
  <p>Address</p>

  <%= render 'addresses/form', f: f %>
</div>
