<div>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
</div>

<div>
  <%= f.label :due_day %>
  <%= f.select :due_day, customer_due_day_for_select, include_blank: false %>
</div>

<div>
  <p>Address</p>

  <%= render 'addresses/form', f: f %>
</div>
