<% content_for :title, "Editing customer" %>

<h1>Editing customer</h1>

<%= form_with model: @customer, local: true do |f| %>
  <%= user_facing_errors @customer %>

  <%= render "form", f: f %>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this customer", @customer %> |
  <%= link_to "Back to customers", customers_path %>
</div>
