<nav>
  <ul>
    <h4>Customer</h4>
  </ul>

  <ul>
    <li>
      <%= button_to "Back to customers", customers_path, method: :get %>
    </li>
    <li>
      <%= button_to "Invoices", customer_invoices_path(@customer), method: :get %>
    </li>
    <li>
      <%= button_to "Edit", edit_customer_path(@customer), method: :get %>
    </li>
    <li>
      <%= button_to "Destroy", @customer, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'} } %>
    </li>
  </ul>
</nav>

<table id="customer" class="striped">
  <thead data-theme="light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Due Day</th>
      <th scope="col">Payment Method</th>
    </tr>
  </thead>
  <tbody>
    <tr id="<%= dom_id @customer %>">
      <%= render @customer %>
    </tr>
  </tbody>
</table>

<%= render_if_credit_card @customer.credit_card %>

<h4>Address</h4>

<table id="address" class="striped">
  <thead data-theme="light">
    <tr>
      <th scope="col">Street</th>
      <th scope="col">Number</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Supplement</th>
      <th scope="col">District</th>
    </tr>
  </thead>
  <tbody>
    <tr id="<%= dom_id @customer.address %>">
      <%= render @customer.address %>
    </tr>
  </tbody>
</table>

