<%= render @customer %>

<%= render_if_credit_card @customer.credit_card %>

<div>
  <p>Address</p>

  <%= render @customer.address %>
</div>



<p>
  <%= link_to 'Invoices', customer_invoices_path(@customer) %>
</p>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to customers", customers_path %>

  <%= button_to "Destroy this customer", @customer, method: :delete %>
</div>
