<h4>Customer</h4>

<table id="customer" class="striped">
  <thead data-theme="light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Due Day</th>
      <th scope="col">Payment Method</th>
    </tr>
  </thead>
  <tbody>
    <tr id="<%= dom_id @customer %>">
      <%= render @customer %>
    </tr>
  </tbody>
</table>

<%= render_if_credit_card @customer.credit_card %>

<h4>Address</h4>

<table id="address" class="striped">
  <thead data-theme="light">
    <tr>
      <th scope="col">Street</th>
      <th scope="col">Number</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Supplement</th>
      <th scope="col">District</th>
    </tr>
  </thead>
  <tbody>
    <tr id="<%= dom_id @customer.address %>">
      <%= render @customer.address %>
    </tr>
  </tbody>
</table>

<div role="group">
  <%= link_to "Back to customers", customers_path %>
  <%= link_to "Edit", edit_customer_path(@customer) %> 
  <%= button_to "Destroy", @customer, method: :delete %>
</div>
