<th scope="row"><%= address.street %></th>
<td><%= address.number %></td>
<td><%= address.city %></td>
<td><%= address.state %></td>
<td><%= address.zipcode %></td>
<td><%= address.supplement %></td>
<td><%= address.district %></td>
