<p>
  Street: <%= address.street %>
</p>
<p>
  Number: <%= address.number %>
</p>
<p>
  City: <%= address.city %>
</p>
<p>
  State: <%= address.state %>
</p>
<p>
  ZipCode: <%= address.zipcode %>
</p>
<p>
  Supplement: <%= address.supplement %>
</p>
<p>
  District: <%= address.district %>
</p>
